

  <!--button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span ></span>
      <a routerLink="/auth/login">Login</a>
    </button>
    <button mat-menu-item >
      <mat-icon>voicemail</mat-icon>
      <a routerLink="/heroes/listado">Inicio</a>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <a routerLink="/auth/registro">Registro</a>
    </button>
  </mat-menu-->

<!--app-error-page></app-error-page-->

<router-outlet></router-outlet>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
</div>