<div class="container mt-2">
    <div class="container">        
        <h2  style="display: flex; justify-content: center; justify-items: center;">{{id?  'Modificar Información Héroes': 'Guardar Información Héroes'}}</h2>
    </div>
 
    <form [formGroup]="formGroup" (ngSubmit)="guardar()">

        <dynamic-material-form [group]="formGroup" [model]="formModel"></dynamic-material-form>

        <button class="btn btn-primary" type="submit">
            <span class="spinner-grow spinner-grow-sm"></span>
            {{id?  'Editar': 'Guardar'}}
          </button>

    </form>
</div>
