<div class="container mt-3">
    <h2>Lista de Heroes</h2>
    <div class="flex-container">
        <table class="table table-hover table-responsive" id="example ">
            <thead class="table-success" style="text-align: center;">
                <tr>
                    <th>ID</th>
                    <th>Super_Heroe</th>
                    <th>Publicher</th>
                    <th>Alter_Ego</th>
                    <th>First_Appearance</th>
                    <th>Characters</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody class="table-dark">
                <tr *ngFor="let heroe of heroes | slice:desde:hasta">
                    <td>{{heroe.id}}</td>
                    <td>{{heroe.superhero}}</td>
                    <td>{{heroe.publisher}}</td>
                    <td>{{heroe.alter_ego}}</td>
                    <td>{{heroe.first_appearance}}</td>
                    <td>{{heroe.characters}}</td>
                    <td style="text-align: center; width: 28%"><img src=".\assets\heroes\{{heroe.id}}.jpg"
                            class="img-thumbnail" alt="Cinque Terre"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <mat-paginator [length]="heroes.length" [pageSize]="pageSize" (page)="cambiarpagina($event)"
        aria-label="Select page">
    </mat-paginator>
</div>
<br>

<div fxLayout="row wrap" fxLayoutGap="30px" fxLayout.xs="column" 
fxLayoutAlign="space-evenly stretch center" >
    <div fxFlex="40" fxFlex.lg="20" fxFlex.sm="30" *ngFor="let heroe of heroes" class="igual"  >

        <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>

    </div>
</div>